# Ignore everything by default
*
*/

# Allow these specific files and folders
!.gitignore
!README.md
!requirements.txt
!index.html
!export_to_html/
!notebooks/
!imgs/
!src/
!report/
!powerpoint/
!pdf_beamer/
!pdf_powerpoint/

#Ignore temporary or cache files even inside allowed folders
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.DS_Store