# Python cache and temp files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
*.DS_Store

# Virtual environment folder
cookies_cat_venv/

slides/ 

data/

# Optional: logs or temp files
*.log
*.tmp